body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




.hidden {
    display: none;
}

h1, h2 {
    text-align: center;
}

form {
    display: grid;
    gap: 10px;
}

input, button {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Style de la barre de recherche */
#search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #218838;
}

#client-list {
    margin-top: 20px;
}

.client-item {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 4px;
}

.client-item p {
    margin: 5px 0;
}

.client-item button {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.client-item button:hover {
    background-color: #0056b3;
}

.client-item .delete-button {
    background-color: #dc3545;
}

.client-item .delete-button:hover {
    background-color: #c82333;
}

.client-item .whatsapp-button {
    background-color: #25d366;
}

.client-item .whatsapp-button:hover {
    background-color: #20b358;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.hidden {
    display: none;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    input, button {
        font-size: 14px;
        padding: 8px;
    }

    th, td {
        font-size: 12px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    input, button {
        font-size: 12px;
        padding: 6px;
    }

    th, td {
        font-size: 10px;
        padding: 6px;
    }
}

